.popup-box {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgba(28, 28, 28, 0.9);
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
  justify-content: space-around;
  border-radius: 20px;
}
.popup-items {
  color: white;
}
