.messageBox {
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  margin-top: 10px;
  scroll-snap-align: start;
}
.chat-message-box-parent {
  position: absolute;
  bottom: 10px;
  height: auto;
  max-height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.chatList {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
.pinned-messageBox {
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  margin-top: 10px;
  scroll-snap-align: start;
  background: blue;
}
.submit-button {
  background: #1462ff;
  border-radius: 12px;
  box-shadow: 0 6px 30px -10px #4a74c9;
  overflow: hidden;
  transform: translateX(0);
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
}
.message-input {
  border-radius: 12px;
  padding: 12px;
}
